<footer>

		<div class="container">
			<a href="#" class="footer_logo">
			   </a>
			   <div class="footerTxt">
				   <div class="footer_italic">The road to college starts in kindergarten.</div>
				   <p>5300 Monarch Avenue , Baton Rouge, LA 70811     Phone:  (225) 364-9805</p>
			   </div>
		</div>
		<div class="footer-second">
			<div class="container">
				<div class="powered-logo">
				</div>
				<ul class="social_media footer_social_media">
		           <li><a href="#">
		               <span class="facebook_icon"></span>
		           </a></li>
		           <li><a href="#">
		                <span class="twitter_icon"></span>
		           </a></li>
		           <li><a href="#">
		                <span class="linkedIn_icon"></span>
		           </a></li>
		       	</ul>
		     </div>
      	</div>
       
</footer>