<header>
    <div class="container">
       <a href="#" class="logo">

       </a>
       <div class="header_name_section">
            <div class="baton_rouge">

            </div>
            <div class="clearfix"></div>
            <div class="header_name">

            </div>
       </div>
       <ul class="social_media">
           <li><a href="#">
               <span class="facebook_icon"></span>
           </a></li>
           <li><a href="#">
                <span class="twitter_icon"></span>
           </a></li>
           <li><a href="#">
                <span class="linkedIn_icon"></span>
           </a></li>
       </ul>
       <div class="search_cnt">
           <div class="serach_box">
               <input type="text" placeholder="Search" class="search_input">
               <button class="search_btn"></button>
           </div>
           <a href="#" class="register_btn">
               <span>
                    Register <br> Here
               </span>
           </a>
       </div>
       <div class="clearfix"></div>
       <nav class="main_menu">
           <ul>
               <li>
                   <a href="#">Our mission </a>
               </li>
               <li>
                   <a href="#">Enroll Now </a>
               </li>
               <li>
                   <a href="#">Join Our Team</a>
               </li>
               <li>
                   <a href="#">Support US</a>
               </li>
               <li>
                   <a href="#">Contact Us</a>
               </li>
           </ul>
       </nav>
    </div>
</header>