/* CSS FILE */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #555555;
  font-weight: 400;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Varela Round', sans-serif; 
}

#header{
    background: #3e81ca;
    display: block;
    border-bottom: 4px solid #2e5584;
}
#header .container{
  background: url('./images/header_bg.png');
  position: relative;
}
.container{ 
    width: 960px;
    margin:  0 auto;
}
.row{
    margin-left: -10px;
    margin-right: -10px;
}
.row::before, .row::after{
    content: " ";
    display: table;
}
.row::after{
    clear: both;
}
.clearfix{
  clear: both;
}
.col{
    float: left;
    padding: 0 10px;
}
.col-12 {
    width: 100%;
  }
  .col-11 {
    width: 91.66666667%;
  }
  .col-10 {
    width: 83.33333333%;
  }
  .col-9 {
    width: 75%;
  }
  .col-8 {
    width: 66.66666667%;
  }
  .col-7 {
    width: 58.33333333%;
  }
  .col-6 {
    width: 50%;
  }
  .col-5 {
    width: 41.66666667%;
  }
  .col-4 {
    width: 33.33333333%;
  }
  .col-3 {
    width: 25%;
  }
  .col-2 {
    width: 16.66666667%;
  }
  .col-1 {
    width: 8.33333333%;
  }
  .logo{
    background: url('./images/logo.png');
    height: 172px;
    width: 173px;
    float: left;
    position: relative;
    margin-top: 15px;
  }
  .logo::before{
    content: '';
    background: url('./images/direction_arrow.png');
    width: 232px;
    height: 33px;
    position: absolute;
    left: 143px;
    top: -2px;
    -webkit-animation: mymove 1s linear; 
    animation: mymove 1s linear;
  }
  @-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 143px;}
  }

  @keyframes mymove {
   from {left: 0px;}
    to {left: 143px;}
  }
  
  .main_menu{
    display: block;
    background: #2c4665;
    border-radius: 5px 5px 0 0 ;
    margin-top: -35px;
  }
  .main_menu > ul{
    display: block;
    list-style: none;
    padding-left: 156px;
  }
  .main_menu > ul > li{ 
    display: inline-block;
  }
  .main_menu > ul > li > a{ 
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 19px 11px 19px;
    display: block;
    position: relative;
  }
  .main_menu > ul > li > a:hover
  {
    background-color:#e5b831;

  }
   .main_menu > ul > li > a:hover::before{
      content: '';
    border-left: 1px solid #e5b831;
    left: 0;
    position: absolute;
    height: 26px;
   }
  .main_menu > ul > li > a::before{
    content: '';
    border-left: 1px solid #002060;
    left: 0;
    position: absolute;
    height: 26px;
  } 
  .header_name_section{
   float: left;
  }
  .header_name{
    background: url('./images/header_name.png');
    width: 597px;
    height: 79px;
    margin-left: 5px;
  }
  .baton_rouge{
    background: url(./images/baton_rouge.png);
    float: left;
    width: 179px;
    height: 29px;
    margin-left: 210px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  .search_cnt{
    width: 182px;
    top: 0;
    right: 0;
    position: absolute;
  }
  .serach_box{
    width: 100%;
    position: relative;
    z-index: 12;
  }
  .search_input{
    width: 100%;
    border: 1px solid #d7d7d7;
    border-top: none;
    height: 43px;
    color: #000;
    padding: 0 15px;
    background: #fff;
    border-radius: 0 0 5px 5px;
  }
  .search_btn{
    background: url('./images/search.png') no-repeat center center;
    height: 42px;
    width: 42px;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
  }
  .search_btn:focus, .search_btn:active{
    border: none;
    outline: none;
    box-shadow: none;

  }
  .register_btn{
    width: 170px;
    height: 170px;
    float: left;
    margin-left: 6px;
    margin-top: -116px;
    background: #e5b831;
    border-radius: 100%;
    position: relative;
    z-index: 10;
    font-size: 17px;
    color: #30270a;
    text-align: center;
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
  }
  .register_btn:hover, .register_btn:focus{
    background: #2c4665;
    color: #fff;
    transition: all 1s ease-in-out 0s;
    -moz-transition: all 1s ease-in-out 0s;
    -webkit-transition: all 1s ease-in-out 0s;
    -o-transition: all 1s ease-in-out 0s;
  }
  .register_btn > span {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .social_media{
    position: absolute;
    right: 194px;
    top: 7px;
  }
  .social_media > li {
    list-style: none;
    margin-left: 10px;
    float: left;
  }
  .social_media > li > a {
    background: #2c4665;
    height: 32px;
    width: 32px;
    border-radius: 5px;
    float: left;
  }
  .social_media > li > a > span{
    width: 32px;
    height: 32px;
    float: left;
  }
  .facebook_icon{
    background: url('./images/facebook.png') no-repeat center center;
  }
  .twitter_icon {
    background: url('./images//twitter.png') no-repeat center center;
  }
  .linkedIn_icon{
    background: url('./images//linked_in.png') no-repeat center center;
  }
  .social_media > li > a:hover{
    background: #e5b831;
    border-radius: 20px;
    transition: all 1s;
  }

  #content{
    background: #abc6e4;
  }
  .slide1{
    width: 100%;
    background: url('./images/banner.png');
    height: 470px;
    display: block;
    position: relative;
  }
  .main_slider{
    position: relative;
    width: 100%;
    display: block;
  }
  .slider_nav{
    width: 40px;
    height: 40px;
    float: left;
    position: absolute;
    border-radius: 100%;
    top: 50%;
    margin-top: -20px;
  }
  .slider_nav.prev{
    left: 10px;
    background: url('./images/left.png') no-repeat center center rgba(227, 178, 45, 0.8);
  }
  .slider_nav.next{
    right: 10px;
    background: url('./images/right.png') no-repeat center center rgba(227, 178, 45, 0.8);
  }
  .slider_nav:hover{
    background-color: #e5b831;
    border-radius: 10px;
    transition: all 1s;
  }
  .main_slider .caption{
    position: absolute;
    bottom: 0;
    color: #2c4665;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 10px;
    width: 100%;
  }
  .content_section{
    width: 100%;
    float: left;
    padding: 30px 20px 20px 20px;
    background: #f6f5f5;
  }
  .events_section, .news_section{
    background: #fff;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    z-index: 20;
  }
  .left_col{
    width: 219px;
    float: left;
    margin-right: 20px;
  }
  .middle_col{
    width: 510px;
    float: left;
    margin-right: 20px;
  }
  .right_col{
    width: 150px;
    float: left;
  }
  .section_header{
    display: block;
    text-transform: uppercase;
    color: #002060;
    font-size: 26px;
    border-bottom: 1px dashed #008ed0;
    padding-bottom: 5px;
    margin-bottom: 22px;
  }
  .section_header.event_icon{
    padding-left: 60px;
    background: url(./images/event_icon.png) no-repeat left 20px bottom 10px;
    background-size: 28px;
  }
  .section_header.news_icon{
    padding-left: 60px;
    background: url(./images/news_icon.png) no-repeat left 20px bottom 10px;
    background-size: 28px;
  }

  .evnt_news_container{
    display: block;
    margin-bottom: 12px;
  }
  .evnt_news_container > h6{
    color: #3b7cc8;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

  }
  .evnt_news_container > div{
    color: #555555;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    margin-top: 2px;
  }
  .news_section .evnt_news_container{
    border-bottom: 1px solid #e7e5e0;
    padding-bottom: 12px;
  }
  .news_img_cnt{
    background: url(./images/news_image.jpg) no-repeat left top;
    padding-left: 114px;
    padding-bottom: 33px !important;
  }
  .no_bottom_border{
    border-bottom: none !important;
  }
  .show_all_btn {
    width: 112px;
    height: 56px;
    background-color: #00829b;
    border-bottom-left-radius: 110px;
    border-bottom-right-radius: 110px;
    border-bottom: 0;
    float: right;
    color: #fff;
    text-align: center;
    margin-top: -10px;
    padding-top: 20px;
    position: relative;
    z-index: 1;
    right: 18px;
    font-size: 14px;
    text-decoration: none
}
.show_all_btn:hover{
  background: #e5b831;
  transition: all 1s;
}
.right_col_btn{
  background: #3f5773;
  border-radius: 5px;
  width: 100%;
  padding: 15px;
  display: block;
  margin-bottom: 15px;
  text-decoration: none;
  padding-bottom: 10px;
}
.right_col_btn h6{
  color: #ffffff;
  font-size: 28px;
}
.right_col_btn p{
  color: #ffffff;
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
}
.right_sec_arrow{
  width: 30px;
  height: 30px;
  background: url('./images/right_yellow_arrow.png') no-repeat center center rgba(0, 130, 155, 0.5);
  float: right;
  border-radius: 100%;
}
.right_col_btn.enroll{
  background: url('./images/enroll.png') no-repeat left bottom  #3f5773;
}
.right_col_btn.join{
  background: url('./images/join.png') no-repeat left bottom  #3f5773;
}
.right_col_btn.support{
  background: url('./images/support.png') no-repeat left bottom  #3f5773;
}
.show_calender_link{
  color: #002060;
  text-decoration: none;
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 10px;
  display: inline-block;
}
#footer{
  display: block;
  background: #3b7dc8;
  height: 120px;
 }
footer{
  float: left;
  width:100%;
}
.footersocial_media{
  list-style: none;
}
.footer_logo{
  background: url('./images/footer_logo.png')no-repeat;
  height: 99px;
  width: 278px;
  float: left;
  position: relative;
  margin-top: 15px;
  position: relative;
}
.footer-second{
     background-color: #2c4665;
    height: 50px;
    float: left;
    width: 100%;
    text-align: center;
    border-bottom: 4px solid #e3b22d;
}
.powered-logo{
    background: url(./images/powered_by.png)no-repeat;
    height: 35px;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 185px;
    position: relative;
}
.footer_logo::before{
  background: url(./images/footer_direction_arrow.png);
  width: 234px;
  height: 69px;
  float: left;
  position: absolute;
  content: '';
  left: 240px;
  top: 22px;
  -webkit-animation: mymove-foot 1s linear; 
  animation: mymove-foot 1s linear;
}

@-webkit-keyframes mymove-foot {
    from {left: 0px;}
    to {left: 240px;}
}


@keyframes mymove-foot {
   from {left: 0px;}
    to {left: 240px;}
}
.footerTxt{
  float: right;
}
.footer_italic{
  color: #fff;
  font-weight: 100;
  font-style: italic;
  font-size: 27px;
  margin-top: 28px;
}
.footerTxt p{
  font-size: 14px;
  color: #fff;
  font-weight: 100;
  text-align: right;
  margin-top: 10px;
}
.footer_social_media{
  top: -2px;
  right: 0;
}
.footer-second .container{
  position: relative;
}
.footer_social_media > li > a {
  background: #16608b;
}